{% extends 'admin/admin-base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}
    <nav class="text-text-1 font-normal mb-2" aria-label="Breadcrumb">
        <ol class="list-none p-0 inline-flex">
            <li class="flex items-center">
                <a href="{{ path('admin_home') }}">Admin</a>
                <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                </svg>
            </li>
            <li class="flex items-center">
                <a href="{{ path('user_index') }}">User</a>
                <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                </svg>
            </li>
            <li>
                <span class="text-gray-500" aria-current="page">Edit</span>
            </li>
        </ol>
    </nav>
    <h1 class="page-title">User</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

    <h2 class="text-lg leading-6 font-medium text-text-1 mt-8 mb-2">Careful</h2>
    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
