{% extends 'base.html.twig' %}

{% block title %}Register for Network Account{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto p-4">
        <h1 class="page-title">Register for a Network Account</h1>

        <p>Before registering for a Network Account, make sure your Organisation does not offer different means of
            integration.
            To discover how you can sign-in for your organisation, please check the Discovery page:</p>
        <a class="btn-primary" href="{{ path('app_register') }}">How should I sign in?</a>

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="text-text-3 px-6 py-4 border-0 rounded-sm relative mb-4 bg-danger"
                 role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="mt-8">
            {{ form_start(registrationForm) }}
            <h2 class="text-lg leading-6 font-medium text-text-1 mb-4">Create Account</h2>
            {{ form_row(registrationForm.givenName) }}
            {{ form_row(registrationForm.familyName) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {# {{ form_row(registrationForm.agreeTerms) }} #}

            <button type="submit" class="btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
