<form method="post" action="{{ path('application_delete', {'id': application.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this application?');">
    <p>Warning: This operation can NOT be undone!</p>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
    <button class="btn-primary">Delete</button>
</form>
