<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Network Authentication Service{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-ui-1">
<nav class="bg-ui-3" data-controller="mobilemenu">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-12">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img class="h-8 w-8" src="/img/logo.png"
                         alt="Logo">
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        {% if is_granted('ROLE_USER') %}
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="{{ path('home') }}"
                               class="text-gray-300 hover:bg-primary-700 hover:text-text-3 px-3 py-2 rounded-sm text-sm font-medium {{ app.request.pathInfo is same as '/' ? 'bg-primary text-text-3' : '' }}">Home</a>

                            <!--
                            <a href="#" class="text-gray-300 hover:bg-primary-700 hover:text-text-3 px-3 py-2 rounded-sm text-sm font-medium">Profile</a>
                            <a href="#" class="text-gray-300 hover:bg-primary-700 hover:text-text-3 px-3 py-2 rounded-sm text-sm font-medium">Organisation</a>
                            -->
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_home') }}"
                               class="text-gray-300 hover:bg-primary-700 hover:text-white px-3 py-2 rounded-sm text-sm font-medium {{ app.request.pathInfo starts with '/admin' ? 'bg-primary text-text-3' : '' }}">Administration</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
                    {% if app.user %}
                        <!-- Profile dropdown -->
                        <div class="ml-3 relative" data-controller="dropdown"
                             data-action="click@window->dropdown#close">
                            <div>
                                <button data-action="dropdown#open:capture"
                                        class="max-w-xs bg-ui-3 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-ui-3 focus:ring-ui-1"
                                        id="user-menu" aria-haspopup="true">
                                    <span class="sr-only">Open user menu</span>
                                    <img class="h-8 w-8 rounded-full"
                                         src="/img/placeholder-profile-amber.png"
                                         alt="{{ app.user.username }}">
                                </button>
                            </div>
                            <div data-dropdown-target="dropdown"
                                 class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-ui-1 ring-1 ring-ui-2 ring-opacity-5 transform opacity-0 scale-95 transition ease-out duration-100"
                                 role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                                <!--<a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                   role="menuitem">Your Profile</a>-->
                                <a href="{{ path('app_logout') }}"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign
                                    out</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <button data-action="mobilemenu#toggle:capture"
                        class="bg-transparent inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-text-3 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-ui-3 focus:ring-ui-1">
                    <span class="sr-only">Open main menu</span>
                    <svg data-mobilemenu-target="iconOpen" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                    <svg data-mobilemenu-target="iconClose" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div data-mobilemenu-target="menu" class="hidden md:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('home') }}"
                   class="text-gray-300 hover:bg-primary-700 hover:text-text-3 block px-3 py-2 rounded-sm text-base font-medium {{ app.request.pathInfo is same as '/' ? 'bg-primary text-text-3' : '' }}">Home</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_home') }}"
                   class="text-gray-300 hover:bg-primary-700 hover:text-text-3 block px-3 py-2 rounded-sm text-base font-medium {{ app.request.pathInfo starts with '/admin' ? 'bg-primary text-text-3' : '' }}">Administration</a>
            {% endif %}
        </div>
        {% if app.user %}
            <div class="pt-4 pb-3 border-t border-gray-700">
                <div class="flex items-center px-5">
                    <div class="flex-shrink-0">
                        <img class="h-10 w-10 rounded-full"
                             src="/img/placeholder-profile-amber.png"
                             alt="{{ app.user.username }}">
                    </div>
                    <div class="ml-3">
                        <div class="text-base font-medium leading-none text-text-3">{{ app.user.name }}</div>
                        <div class="text-sm font-medium leading-none text-gray-400">{{ app.user.email }}</div>
                    </div>
                </div>
                <div class="mt-3 px-2 space-y-1">
                    <!--<a href="#"
                       class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:bg-primary-700 hover:text-text-3">Your
                        Profile</a>-->
                    <a href="{{ path('app_logout') }}"
                       class="block px-3 py-2 rounded-sm text-base font-medium text-gray-400 hover:bg-primary-700 hover:text-text-3">Sign
                        out</a>
                </div>
            </div>
        {% endif %}
    </div>
</nav>

{% block body %}{% endblock %}
</body>
</html>
