{% extends 'admin/admin-base.html.twig' %}

{% block title %}Organisations{% endblock %}

{% block main %}
    <nav class="text-text-1 font-normal mb-2" aria-label="Breadcrumb">
        <ol class="list-none p-0 inline-flex">
            <li class="flex items-center">
                <a href="{{ path('admin_home') }}">Admin</a>
                <svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/>
                </svg>
            </li>
            <li>
                <span class="text-gray-500" aria-current="page">Organisations</span>
            </li>
        </ol>
    </nav>
    <h1 class="page-title">Organisations</h1>
    <p>This is a list of your and all sub-organisations that you may access.</p>
    <div class="bg-ui-1 shadow overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Name
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Abbreviation
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Domain(s)
                </th>
                <th scope="col" class="relative px-6 py-3"></th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            {% for organisation in organisations %}
                <tr class="{{ organisation is same as app.user.organisation ? 'bg-primary' :'' }}">
                    <td class="px-6 py-4 whitespace-nowrap">{{ organisation.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ organisation.abbreviation }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {% for provider in organisation.providers %}
                            {{ provider.name }}: {{ provider.domain }}<br/>
                        {% else %}
                            None
                        {% endfor %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <a href="{{ path('organisation_show', {'id': organisation.id}) }}"
                           class="text-blue-600 hover:text-blue-900">show</a>
                        <a href="{{ path('organisation_edit', {'id': organisation.id}) }}"
                           class="text-blue-600 hover:text-blue-900">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" class="px-6 py-4 whitespace-nowrap">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-2">
        <a class="btn-primary" href="{{ path('organisation_new') }}">Create new</a>
    </div>
{% endblock %}
